"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    showIndentGuide: true
    showInvisibles: true
  welcome:
    showOnStartup: false
